/* Page */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 62px;
gap: 12px;
isolation: isolate;

position: relative;
width: 360px;
height: 1464px;

background: #FFFFFF;


/* Top Bar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 72px;

background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* top */

width: 360px;
height: 24px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* time */

position: absolute;
width: 33.64px;
height: 10.23px;
right: 8.72px;
top: calc(50% - 10.23px/2 + 0.02px);

background: rgba(0, 0, 0, 0.7);


/* battery */

position: absolute;
width: 9px;
height: 14px;
right: 51px;
top: calc(50% - 14px/2);

background: rgba(0, 0, 0, 0.7);


/* cellular */

position: absolute;
width: 14px;
height: 14px;
right: 69px;
top: calc(50% - 14px/2);

background: rgba(0, 0, 0, 0.7);


/* wifi */

position: absolute;
width: 18.05px;
height: 14px;
right: 84.98px;
top: calc(50% - 14px/2);

background: rgba(0, 0, 0, 0.7);


/* content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px;
gap: 8px;

width: 360px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* ic-left */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* shape */

position: absolute;
width: 10px;
height: 18px;
left: calc(50% - 10px/2);
top: calc(50% - 18px/2);

background: rgba(0, 0, 0, 0.7);


/* title */

width: 248px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon buttons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 56px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon */

width: 24px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

width: 24px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Avatar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 12px 0px;
gap: 12px;

width: 360px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* avatar */

width: 40px;
height: 40px;

background: rgba(0, 0, 0, 0.1);
border-radius: 40px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 284px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* title */

width: 284px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 284px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 12px;
gap: 8px;

width: 360px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* section title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px 0px;
gap: 12px;

width: 336px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 336px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* title */

width: 336px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 336px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* metric */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 150px;
height: 76px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 126px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* data */

width: 107px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* metric */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 150px;
height: 76px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

width: 126px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* data */

width: 33px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* metric */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 4px;

width: 150px;
height: 76px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* title */

width: 126px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* data */

width: 74px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* tab group */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 360px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* tab */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;
gap: 4px;

width: 106.67px;
height: 88px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* frame */

width: 48px;
height: 48px;

background: rgba(0, 0, 0, 0.05);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
width: 48px;
height: 48px;
left: calc(50% - 48px/2);
top: calc(50% - 48px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* title */

width: 98.67px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tab */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;
gap: 4px;

width: 106.67px;
height: 88px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* frame */

width: 48px;
height: 48px;

background: rgba(0, 0, 0, 0.05);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
width: 48px;
height: 48px;
left: calc(50% - 48px/2);
top: calc(50% - 48px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* title */

width: 98.67px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tab */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;
gap: 4px;

width: 106.67px;
height: 88px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* frame */

width: 48px;
height: 48px;

background: rgba(0, 0, 0, 0.05);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
width: 48px;
height: 48px;
left: calc(50% - 48px/2);
top: calc(50% - 48px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 48px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* title */

width: 98.67px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 12px;

width: 360px;
height: 360px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;


/* image */

width: 336px;
height: 360px;

background: rgba(0, 0, 0, 0.05);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* title */

position: absolute;
height: 16px;
left: 16px;
right: 16px;
top: calc(50% - 16px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* or 138% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* pagination */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 44px;
height: 4px;
left: calc(50% - 44px/2);
bottom: 8px;



/* Rectangle 3343 */

width: 20px;
height: 4px;

background: #FFFFFF;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3344 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 3347 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 3340 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 12px;
gap: 8px;

width: 360px;
height: 316px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
z-index: 5;


/* section title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px 0px;
gap: 12px;

width: 336px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 336px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* title */

width: 336px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 336px;
height: 268px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* post */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 164px;
height: 268px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 164px;
height: 164px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image */

width: 164px;
height: 164px;

background: rgba(0, 0, 0, 0.05);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* title */

position: absolute;
height: 16px;
left: 16px;
right: 16px;
top: calc(50% - 16px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* pagination */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 44px;
height: 4px;
left: calc(50% - 44px/2);
bottom: 8px;



/* Rectangle 3343 */

width: 20px;
height: 4px;

background: #FFFFFF;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3344 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 3347 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 3340 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* text content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 164px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 148px;
height: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Selection */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 148px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* label-normal */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 4px;
gap: 2px;

width: 40px;
height: 20px;

background: rgba(0, 0, 0, 0.05);
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label text */

width: 25px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-normal */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 4px;
gap: 2px;

width: 61px;
height: 20px;

background: rgba(0, 0, 0, 0.05);
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* label text */

width: 53px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avatar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 148px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* avatar */

width: 20px;
height: 20px;

background: rgba(0, 0, 0, 0.1);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* title */

width: 120px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* post */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 164px;
height: 268px;

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* image container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 164px;
height: 164px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* image */

width: 164px;
height: 164px;

background: rgba(0, 0, 0, 0.05);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* title */

position: absolute;
height: 16px;
left: 16px;
right: 16px;
top: calc(50% - 16px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* pagination */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

position: absolute;
width: 44px;
height: 4px;
left: calc(50% - 44px/2);
bottom: 8px;



/* Rectangle 3343 */

width: 20px;
height: 4px;

background: #FFFFFF;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3344 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 3347 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 3340 */

width: 4px;
height: 4px;

background: rgba(0, 0, 0, 0.3);
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* text content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 164px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 148px;
height: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Selection */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 148px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* label-normal */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 4px;
gap: 2px;

width: 59px;
height: 20px;

background: rgba(0, 0, 0, 0.05);
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label text */

width: 51px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-normal */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 4px;
gap: 2px;

width: 75px;
height: 20px;

background: rgba(0, 0, 0, 0.05);
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* label text */

width: 67px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avatar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 148px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* avatar */

width: 20px;
height: 20px;

background: rgba(0, 0, 0, 0.1);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 120px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* title */

width: 120px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 12px;

width: 360px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
z-index: 6;


/* section title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px 0px;
gap: 12px;

width: 336px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 336px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* title */

width: 336px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* item */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 8px;
isolation: isolate;

width: 336px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* frame */

width: 32px;
height: 32px;

background: rgba(0, 0, 0, 0.05);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* icon */

position: absolute;
width: 32px;
height: 32px;
left: calc(50% - 32px/2);
top: calc(50% - 32px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 198px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* title */

width: 198px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 198px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 90px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: right;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Vector 200 */

position: absolute;
height: 0px;
left: 0px;
right: 0px;
bottom: 0px;

border: 1px solid rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* item */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 0px;
gap: 8px;
isolation: isolate;

width: 336px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* frame */

width: 32px;
height: 32px;

background: rgba(0, 0, 0, 0.05);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* icon */

position: absolute;
width: 32px;
height: 32px;
left: calc(50% - 32px/2);
top: calc(50% - 32px/2);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Frame 427318906 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 208px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* title */

width: 208px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 208px;
height: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* subtitle */

width: 80px;
height: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: right;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Vector 200 */

position: absolute;
height: 0px;
left: 0px;
right: 0px;
bottom: 0px;

border: 1px solid rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 360px;
height: 142px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;
z-index: 7;


/* seconday */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 12px;

width: 336px;
height: 42px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* title */

width: 84px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* seconday */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 12px;

width: 336px;
height: 42px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* title */

width: 93px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* primary */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 12px;

width: 336px;
height: 42px;

background: #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* title */

width: 84px;
height: 22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bottom nav */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 50px;
left: 0px;
right: 0px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;
z-index: 8;


/* tab */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 120px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon */

width: 28px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 112px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tab */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 120px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon */

width: 28px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 112px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* tab */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 120px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* icon */

width: 28px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* title */

width: 112px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
